nav {
    position: sticky;
    top: 0;
    z-index: 10;
    height: 128px;
    border-bottom: 2px solid white;
    padding: 0px 128px;
}
nav img {
    height: 100px;
    width: 100px;
    transition: all 0.1s ease;
}
nav img:hover {
    cursor: pointer;
    filter: drop-shadow(1px 1px 5px #ffffff);
    transform: scale(1.01);
}

footer {
    margin-top: auto;
    padding: 32px 0px;
}

footer img {
    height: 50px;
}

@media (max-width: 1099px) {
    footer {
        margin-bottom: 120px;
    }
}
