.card {
    position: relative;
    min-height: 200px;
    width: 250px;

    border-style: solid;
    border-radius: 8px;
    border-color: white;
    background-color: #78c850;

    margin: 16px;
    padding: 16px;
    transition: all 0.1s ease;

    filter: drop-shadow(1px 1px 5px #ffffff67);
}
.card img{
    position: absolute;
    right: 16px;
    height: 150px;
    width: 150px;
}
.card:hover {
    filter: drop-shadow(1px 1px 5px #ffffff);
    transform: scale(1.01);
}
.card-info {
    position: absolute;
    bottom: 16px;
    left: 16px;
    gap: 8px;
}
.stat {
    padding: 6px;
    border-radius: 16px;
    border-color: white;
    border-style: solid;
}


