.card {
    position: relative;
    min-height: 200px;
    width: 250px;

    border-style: solid;
    border-radius: 8px;
    border-color: white;

    margin: 16px;
    padding: 16px;
    transition: all 0.1s ease;

    filter: drop-shadow(1px 1px 5px #ffffff67);
}
.card:hover {
    filter: drop-shadow(1px 1px 5px #ffffff);
    transform: scale(1.01);
}
.card img {
    transition: all 0.1s ease;
    position: absolute;
    right: 16px;
    height: 150px;
    width: 150px;
}
.card img:hover {
    filter: drop-shadow(1px 1px 5px #ffffff);
    transform: scale(1.05);
}
.card h2::first-letter {
    text-transform: capitalize;
}

.card-info {
    position: absolute;
    bottom: 16px;
    left: 16px;
    gap: 8px;
}

.stat {
    padding: 6px;
    border-radius: 16px;
    border-color: white;
    border-style: solid;
}
.stat p::first-letter {
    text-transform: capitalize;
}

/* Filter Buttons */

.filter-btn {
    padding: 4px 10px;
    border-radius: 16px;
    border-color: white;
    border-style: solid;
    max-width: 360px;
}
.filter-btn:hover {
    cursor: pointer;
}

/* Pokeball Loader */
/* by Vincenzo Bianco */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.anim-wrapper {
    transform: scale(2);
}

.anim-pokeball {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid;
    animation: frames 0.8s linear 0s infinite;
}

.anim-pokeball:after {
    content: "";
    position: absolute;
    width: 60px;
    height: 30px;
    background-color: red;
    border-bottom: 4px solid;
    top: -4px;
}

.anim-pokeball:before {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 10px;
    height: 10px;
    border: 4px solid;
    border-radius: 50%;
    bottom: 18px;
    right: 18px;
    z-index: 1;
}

@keyframes frames {
    /* Animation Frames */
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Loader Dialog */

#loading {
    max-width: none;
    max-height: none;
    padding: 0;
    border: none;
    background: transparent;
    box-shadow: none;
    outline: none;
    overflow: visible;
}
#loading::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}
