#info {
    border-radius: 16px;
    padding: 0px;
    width: 500px;
    filter: drop-shadow(0px 5px 20px #ffffff1f);
}
#info::backdrop {
    background-color: rgba(0, 0, 0, 0.65);
}

#info header {
    height: 200px;
    border-radius: 0 0 90% 90%/0 0 100% 100%;

    display: flex;
    justify-content: center;
}
#info header img {
    width: 250px;
    height: 250px;
    padding-top: 16px;
    position: absolute;
    transition: all 0.1s ease;
}
#info header img:hover {
    filter: drop-shadow(1px 1px 5px #ffffff);
    transform: scale(1.05);
}

#info .about {
    margin-top: 64px;
    padding: 0px 32px;
    align-items: flex-start;
}
#info .about h2::first-letter {
    text-transform: capitalize;
}

#info .info {
    padding: 0px 32px;
}

#info .stats {
    padding: 0px 32px;
    padding-bottom: 16px;
}

.statProgress {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    margin: 8px;
}

.statLabel {
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}

.eTypes p::first-letter {
    text-transform: capitalize;
}

.eEvo {
}
.eEvo h2::first-letter {
    text-transform: capitalize;
}
.eEvo img {
    height: 75px;
    transition: all 0.1s ease;
}
.eEvo img:hover {
    filter: drop-shadow(1px 1px 5px #ffffff);
    transform: scale(1.05);
}

/* Header */

.pokemonHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 150px;
}

.pokemonTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pokemonImages {
    display: flex;
    justify-content: flex-end;
}
.pokemonImages img {
    width: 150px;
    height: 150px;
}

/* Progress Bar */

.progress {
    background: rgba(255, 255, 255, 0.1);

    border-radius: 100px;

    height: 10px;
    width: 100px;
}

.progress-value {
    animation: load 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    height: 10px;
    width: 0;
}

@keyframes load {
    0% {
        width: 0;
    }
    100% {
        width: 68%;
    }
}

/* Badge */

.badge {
    gap: 6px;

    height: 38px;
    padding: 6px 20px;
    border-radius: 999px;

    filter: drop-shadow(2px 3px 5px #ffffff20);
}
